@import "styles.css";

#page-title {
    font-weight: bold;
    color: var(--dark-gray);
}

.common-table {
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.common-table th, .common-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--light-gray);
    font-size: 1.0rem;
}

.common-table th {
    background-color: var(--table-header);
    color: var(--dark-gray);
}

.table th {
    background-color: #F5F5F5;
}

.common-table select, input[type="text"], input[type="number"], input[type="date"], input[type="password"] {
    width: 60%;
    padding: 8px;
    border: 1px solid var(--light-gray);
    box-sizing: border-box;
}

/* 마지막 행 아래에 테두리 제거 */
.common-table tr:last-child td, .common-table tr:last-child th {
    border-bottom: none;
}

.table th, .table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--light-gray);
    font-size: 1.0rem;
    text-align: center;
}

input[disabled] {
    background-color: var(--table-header);
}