#page-title {
    font-weight: bold;
    color: var(--dark-gray);
}

.common-table {
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background: white;
}

.common-table thead {
    border: 1px solid var(--little-dark-gray);
}

.common-table tbody {
    border: 1px solid var(--little-dark-gray);
}

.common-table th, .common-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--little-dark-gray);
    font-size: 1.0rem;
    font-weight: normal;
}

.common-table th {
    background: linear-gradient(var(--light-gray), var(--basic-gray));
    color: black;
    width: 10%;
}

.common-table td{
    min-width: 30%;
}

.common-table select, input[type="text"], input[type="number"], input[type="date"], input[type="password"] {
    width: 65%;
    padding: 8px;
    border: 1px solid var(--little-dark-gray);
    box-sizing: border-box;
}

/* 마지막 행 아래에 테두리 제거 */
/*.common-table tr:last-child td, .common-table tr:last-child th {*/
/*    border-bottom: none;*/
/*}*/


input[disabled] {
    background-color: var(--light-gray);
}