/*
.amount-label2 {
    width: 160px;
    font-size: 1.1rem;
}
*/


#employee-close-page-user-branch-name {
    background-color : var(--basic-color);
    color: white;
    font-size: 1.2rem;
    padding: 7px 10px;
    margin: 0 10px;
}


#manager-close-page-user-branch-name {
    background-color : var(--basic-color);
    color: white;
    font-size: 1.2rem;
    padding: 7px 10px;
    margin: 0 10px;
}

.no-margin{
    margin: 0 !important;
}

#manager-close-page-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#employee-list-table td {
    width: max-content !important;
}

#employee-list-table td input {
    min-width: 80%;
}