#accountSearchModal .modal-dialog {
    min-width: 60%;
}

#accountSearchModal .modal-body {
    padding: 5%;
}

#accountSearchModal .modal-body h5,
#accountSearchModal .modal-header h1 {
    font-weight: bold;
}

#accountSearchModal hr {
    margin: 0;
    border: 2px solid black;
}

#accountSearchModal .modal-body #modal-input-box {
    background-color: #F5F5F5;
    padding: 10px;
}

#modal-center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accountSearchModal .modal-body label {
    font-weight: bold;
}


#accountSearchModal .modal-body table {
    width: 100%;
}

#accountSearchModal .modal-body th {
    text-align: left;
    padding: 8px;
}

#accountSearchModal .modal-body th {
    text-align: center;
}
