#employee-detail-modal .modal-dialog {
    min-width: 65%;
}

#employee-detail-modal .modal-body {
    padding: 5% 5%;
}

#employee-detail-modal .modal-body h5,
#employee-detail-modal .modal-header h1 {
    font-weight: bold;
}

#employee-detail-modal hr {
    margin: 0;
    border: 2px solid black;
    margin-bottom: 30px;
}

#employee-detail-modal .modal-body {
    background-color: #F5F5F5;
    padding: 10px;
}

#modalCenterBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#employee-detail-modal .modal-body label {
    font-weight: bold;
}


#employee-detail-modal .modal-body table {
    width: 100%;
}

#employee-detail-modal .modal-body th {
    text-align: center;
}
.modal-body
{
    height: 650px !important;
}
