#employee-search-modal .modal-dialog {
    min-width: 65%;
}

#search-modal-search-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#search-modal-select {
    padding: 5px;
    height : 46px !important;
}

#search-modal-input
{
    width: 100%;
}

#search-modal-select-btn {
    flex: 0 1 auto;
}

#search-modal-select-btn button {
    padding: 5px 10px;
    height : 43px;
    width : 50px;
}
.modal-body
{
    height: 500px;
}