th{
    width : 250px;
}

.common-table input[type="text"]{
    max-width: 60%;
}

.common-table input[type="date"]{
    max-width: 60%;

}

.button-group {
    display: flex;
    gap: 10px;
}


.button-group button {
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #efefef;

}

.button-group button:hover {
    background: #C8C8C8;
}

#year-search-btn, #month-search-btn {
    width: 20%;
    margin-right:10px;
}

.period-search-container {
    display :flex;
    gap:10px;
    width: 70%;
    align-items: center;
    margin-top:10px;

}
.period-search-container label {
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    margin-right: 5px;

}

#period-search-area {
 display: none;
}


.period-search-container button {
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    width: 40%

}

.button-group label{
    margin-right: 30px;
}

#search-monthly-tr {
    display: none;
}

#search-period-tr{
    display: none;
}

/* 거래내역 상태 활성화 버튼 css */
.trade-status-search-btn.active {
    background-color: #8e8e8e;
    color: white;
    font-weight: bold;
}

/* 거래내역 기간조회 활성화 버튼 css */
.trade-period-search-btn.active{
    background-color: #8e8e8e;
    color: white;
    font-weight: bold;
}

#trade-total-balance {
    display: flex;
    align-items: center;
    justify-content :center;
    white-space: nowrap;
    margin-bottom: 50px;
}

#trade-total-balance label{
    margin-right: 30px;
    margin-left: 50px;

}


#trade-total-balance input{
    width: 30%;

}



.cash-text {
    padding: 10px;
    color: #4f9504;
    font-weight: bold;
}

.transfer-text {
    padding: 10px;
    color: #3a6ea5;
    font-weight: bold;
}
.open-text {
    padding: 10px;
    color: #333333E0;
    background-color: #c9e4ff;
    font-weight: bold;
}

.close-text {
    padding: 10px;
    color: #333333E0;
    background-color: #f6a1a1;
    font-weight: bold;
}

.withdrawal-text {
    padding: 10px;
    color: #333333E0;
    background-color: #f9e79f;
    font-weight: bold;
}

.deposit-text {
    padding: 10px;
    color: #333333E0;
    background-color: #b8e1b3;
    font-weight: bold;
}
#pagination {
    display: flex;             /* 내부 요소들을 가로로 배치 */
    justify-content: center;   /* 가로 가운데 정렬 */
    align-items: center;       /* 세로 가운데 정렬 */
    list-style-type: none;     /* 리스트 스타일 제거 */
    padding: 0;
    margin: 20px 0;
}

.pagination-btn {
    display: inline-block; /* 가로로 배치 */
    margin: 0 5px;         /* 버튼 간 간격 */
    padding: 10px 15px;    /* 버튼 내부 여백 */
    text-decoration: none; /* 밑줄 제거 */
    border: 1px solid #f9f9f9; /* 테두리 */
    background-color: #d1e7f6; /* 버튼 배경색 */
    color: #333;           /* 글자색 */
    font-size: 14px;       /* 글자 크기 */
    border-radius: 5px;    /* 모서리 둥글게 */
}

.pagination-btn:hover {
    background-color: #007bff; /* 마우스 오버 시 배경색 */
}

.pagination-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/* 진한 파란색 버튼 스타일 2 */
.status-nor {
    padding: 12px 24px;
    background-color: #79b8f2; /* 색상 2 */
    color: #001543;
    border: 2px solid #79b8f2;
    border-radius: 5px; /* 모서리 둥글게 */

}


.status-nor:hover {
    background-color: #64a1e0; /* 호버 시 색상 */
    color: white; /* 호버 시 텍스트 색상 변경 */
    border-color: #64a1e0; /* 호버 시 테두리 색상 변경 */
}

.status-nor:active {
    background-color: #5289ce; /* 클릭 시 색상 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 클릭 시 그림자 효과 변경 */
}
.status-can {
    padding: 10px 15px;
    background-color: #f8ef8c;
    font-weight: bold;
    display: inline-block; /* 버튼처럼 보이도록 설정 */
}

.status-rvk {
    padding: 10px 15px;
    background-color: #d9534f;
    font-weight: bold;
    display: inline-block;
}

a {
    text-decoration: none;
}