<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.accountclose.mapper.AccountCloseMapper">
    <update id="updateStatus" parameterType="AccountStatus">
        UPDATE ACCOUNT
        SET
            status = #{status},
            expire_date = SYSTIMESTAMP,
            balance = 0,
            modification_date = SYSTIMESTAMP,
            modifier = #{modifier}
        WHERE
            id = #{id}
    </update>
</mapper>
