<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.account_close.mapper.AccountCloseMapper">





<!--    해지 거래 등록-->
    <insert id="addCancelTrade" parameterType="CloseTrade">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT trade_seq.nextval FROM dual
        </selectKey>
        INSERT INTO TRADE (id, acc_id, registrant_id, branch_id, trade_date, amount, balance, trade_type, status, cash_indicator, description, registration_date, trade_number, version)
        VALUES (#{id}, #{accId}, #{registrantId}, #{branchId}, #{businessDay}, #{amount}, #{balance}, #{tradeType}, 'NOR', 'TRUE', #{description}, SYSDATE, trade_num_seq.nextval, 1)
    </insert>


    <select id="rollbackAmount" parameterType="AccountIdWithExpireDate" resultType="java.math.BigDecimal">
        SELECT amount
        FROM TRADE
        WHERE acc_id = #{accountId} AND registration_date = #{expireDate} AND trade_type = 'CLOSE'
    </select>

</mapper>
