<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.banking.domain.auto_transfer.mapper.AutoTransferMapper">

    <insert id="insertAutoTransfer" parameterType="AutoTransferCreate">
        INSERT INTO Auto_transfer (
            id,
            acc_id,
            target_acc_id,
            amount,
            auto_transfer_start_date,
            auto_transfer_end_date,
            create_date,
            registration_date,
            registrant_id,
            modification_date,
            modifier_id,
            version,
            missed_count,
            next_transfer_date,
            status
        ) VALUES (
                     auto_transfer_seq.NEXTVAL,
                     #{acc_id},
                     #{target_acc_id},
                     #{amount},
                     #{auto_transfer_start_date},
                     #{auto_transfer_end_date},
                     #{auto_transfer_period},
                     #{create_date},  -- create_date
                     SYSTIMESTAMP,  -- registration_date
                     #{registrant_id},
                     NULL,  -- modification_date
                     NULL,  -- modifier_id
                     1,      -- version
                     0,
                    #{next_transfer_date},
                    'WAIT'
                 )
    </insert>

    <select id="findScheduledAutoTransferList">
        select
            id,
            acc_id,
            target_acc_id,
            amount,
            auto_transfer_start_date,
            auto_transfer_period,
            status,
            missed_count,
            next_transfer_date

        from Auto_transfer
        where
            status = 'WAIT'
        and
            TO_CHAR(next_transfer_date, 'YY/MM/DD') = TO_CHAR(SYSTIMESTAMP, 'YY/MM/DD')
    </select>
</mapper>
