<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.business_day_close.mapper.BusinessDayCloseMapper">

    <select id="findClosingData" parameterType="BusinessDateAndEmployeeId" >
        select e.id, e.name, ec.prev_cash_balance, ec.total_deposit, ec.total_withdrawal, ec.vault_cash, ec.status from employee_closing ec
        join employee e on ec.registrant_id = e.id
        where ec.registrant_id = #{employeeId} and ec.closing_date = #{businessDate}
    </select>

    <select id="findClosingDataList" parameterType="BusinessDateAndBranchId" >
        select e.id, e.name, ec.prev_cash_balance, ec.total_deposit, ec.total_withdrawal, ec.vault_cash, ec.status from employee_closing ec
        join employee e on ec.registrant_id = e.id
        where ec.branch_id = #{branchId} and ec.closing_date = #{businessDate}
    </select>

    <update id="employeeDeadlineStatusToClosed" parameterType="BusinessDateAndEmployeeId" >
        update employee_closing ec set status = 'CLOSED'
        where ec.registrant_id = #{employeeId} and ec.closing_date = #{businessDate}
    </update>

    <update id="branchDeadlineStatusToClosed" parameterType="BusinessDateAndBranchId" >
        update branch_closing bc set status = 'CLOSED'
        where bc.branch_id = #{branchId} and bc.closing_date = #{businessDate}
    </update>

    <select id="getNextTradeNumberVal">
        SELECT  trade_num_seq.NEXTVAL FROM dual
    </select>

    <insert id="batchInsertEmployeeClosing" parameterType="list">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO EMPLOYEE_CLOSING
            (closing_date, registrant_id, branch_id, status, prev_cash_balance, total_deposit, total_withdrawal, vault_cash, trade_number)
            VALUES
            (
            #{item.closingDate}, #{item.registrantId}, #{item.branchId},
            #{item.status},
            #{item.prevCashBalance},
            0,
            0,
            #{item.prevCashBalance},
            #{item.tradeNumber}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <insert id="insertBranchClosing" parameterType="BranchClosingCreate">

            INSERT INTO BRANCH_CLOSING
            (closing_date, registrant_id, branch_id, status, prev_cash_balance, vault_cash, trade_number)
            VALUES
            (
            #{closingDate},
            #{registrantId},
            #{branchId},
            #{status},
            #{prevCashBalance},
            #{prevCashBalance},
            #{tradeNumber}
            )

    </insert>

</mapper>
