<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.cash_exchange.mapper.CashExchangeMapper">

    <select id="getCashExchangeData" parameterType="BusinessDateAndEmployeeId">
        select id, amount, exchange_type
        from cash_exchange
        where emp_id = #{employeeId}
          and exchange_date = #{businessDate}
    </select>

    <select id="getCashExchangeDataForManager" parameterType="BusinessDateAndEmployeeId">
        select ex.id, ex.amount, ex.exchange_type, ex.emp_id, e.name, ex.emp_cash_balance, ex.manager_cash_balance
        from cash_exchange ex
            JOIN Employee e ON e.id = ex.emp_id
        where ex.registrant_id = #{employeeId}
          and ex.exchange_date = #{businessDate}
    </select>

</mapper>