<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.cash_exchange.mapper.CashExchangeMapper">

    <select id="getCashExchangeData" parameterType="BusinessDateAndEmployeeId">
        select id, amount, exchange_type
        from cash_exchange
        where emp_id = #{employeeId}
          and exchange_date = #{businessDate}
    </select>

</mapper>