<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.common.mapper.CommonMapper">

    <select id="findClosingStatus" parameterType="BusinessDateAndBranchId" >
        select status from branch_closing
        where branch_id = #{branchId} and closing_date = #{businessDate}
    </select>

</mapper>
