<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.customer.mapper.CustomerMapper">

    <resultMap id="CustomerSearchInfoMap" type="CustomerSearchInfo">
        <id property="customerId" column="id" />
        <result property="customerName" column="name" />
        <result property="birthDate" column="birth_date" />
        <result property="phoneNumber" column="phone_number" />
        <result property="branchId" column="branch_id" />

    </resultMap>

    <select id="findCustomers" parameterType="CustomerSearchDTO" resultMap="CustomerSearchInfoMap">
        SELECT id,name,birth_date,phone_number, branch_id, security_level FROM customer
        <where>
            <if test="customerName != null and customerName != ''">
                name LIKE '%' || #{customerName} || '%'
            </if>
            <if test="customerId != null and customerId != ''">
                id = #{customerId}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                phone_number LIKE '%' || #{customerPhone} || '%'
            </if>
        </where>
    </select>

    <insert id="insertCustomer" parameterType="CustomerCreate">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT customer_seq.nextval FROM dual
        </selectKey>
        INSERT INTO Customer (id, branch_id, email, name,gender, phone_number, address, detail_address, identification_code, birth_date, security_level ,registrant_id, registration_date, version)
        VALUES (
        #{id},
        #{branchId},
        #{email},
        #{name},
        #{gender},
        #{phoneNumber},
        #{address},
        #{detailAddress},
        #{identificationCode},
        #{birthDate},
        '2등급',
        #{registrantId},
        SYSTIMESTAMP,
        1
        )
    </insert>
</mapper>
