<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.dashboard.mapper.DashboardMapper">


    <select id="findAccountOpenRatioByRegistrantId" parameterType="java.lang.Long" resultType="AccountOpenRatioChart">
        SELECT
            TO_CHAR(trade_date, 'YYYY-MM') AS tradeMonth,
            COUNT(CASE WHEN registrant_id = #{registrantId} AND trade_type = 'OPEN' THEN 1 END) AS openCount, -- 나의 계좌 개설 수
            COUNT(CASE WHEN trade_type = 'OPEN' THEN 1 END) AS totalOpenCount -- 전체 계좌 개설 수
        FROM
            trade
        WHERE
            trade_type = 'OPEN'
        GROUP BY
            TO_CHAR(trade_date, 'YYYY-MM')
        ORDER BY
            tradeMonth DESC
    </select>


</mapper>