<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.product.mapper.ProductMapper">

    <select id="findBySearchOption" parameterType="ProductSearch">
        SELECT id, name,interest_rate, tax_rate
        FROM product
        WHERE
        branch_id = #{branchId} AND
        account_type = #{accountType} AND
        period = '00'
        <if test="searchOption != null and !searchOption.equals('')">
            AND ${searchOption} LIKE '%' || #{searchValue} || '%'
        </if>
    </select>

</mapper>
