<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.account_transfer.mapper.TransferMapper">

    <insert id="insertTransfer" parameterType="TransferDetail">
        INSERT INTO Trade (id, registrant_id, acc_id, target_acc_id, branch_id, trade_date, amount, balance, trade_type, status, cash_indicator, description, trade_number, registration_date, version)
        VALUES (trade_seq.nextval, #{registrantId}, #{accId}, #{targetAccId}, #{branchId}, #{tradeDate}, #{amount}, #{balance}, #{tradeType}, #{status}, #{cashIndicator}, #{description}, #{tradeNumber}, #{registrationDate}, #{version})
    </insert>

    <update id="updateAccountBalance" parameterType="TransferDetail">
        UPDATE Account
        SET balance = #{balance},
            modification_date = #{tradeDate},
            modifier_id = #{registrantId},
            version = version + 1
        WHERE id = #{accId}
    </update>

    <select id="getNextTradeNumberVal">
        SELECT  trade_num_seq.NEXTVAL FROM dual
    </select>

    <select id="getTradeDetailsByTradeNumber" parameterType="java.lang.Long" resultType="TransferDetail">
        SELECT
            t.id,
            t.registrant_id,
            t.acc_id,
            t.target_acc_id,
            t.branch_id,
            t.trade_date,
            t.amount,
            t.balance,
            t.trade_type,
            t.status,
            t.cash_indicator,
            t.description,
            t.trade_number,
            t.registration_date,
            t.modification_date,
            t.modifier_id,
            t.version,
            acc_customer.name AS customerName,
            target_customer.name AS targetCustomerName
        FROM Trade t
                 JOIN Account acc ON t.acc_id = acc.id
                 JOIN Customer acc_customer ON acc.customer_id = acc_customer.id
                 LEFT JOIN Account target_acc ON t.target_acc_id = target_acc.id
                 LEFT JOIN Customer target_customer ON target_acc.customer_id = target_customer.id
        WHERE t.trade_number = #{tradeNumber}
    </select>


    <update id="updateCancelTransferCAN" parameterType="java.lang.Long">
        UPDATE Trade
        SET status = 'CAN'
        WHERE trade_number = #{tradeNumber}
    </update>

</mapper>