<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.banking.domain.account_transfer.mapper.TransferMapper">

    <insert id="insertTransfer" parameterType="TransferDetail">
        INSERT INTO Trade (id, registrant_id, acc_id, target_acc_id, branch_id, trade_date, amount, balance, trade_type, status, cash_indicator, description, trade_number, registration_date, modification_date, modifier_id, version)
        VALUES (trade_seq.nextval, #{registrantId}, #{accId}, #{targetAccId}, #{branchId}, #{tradeDate}, #{amount}, #{balance}, #{tradeType}, #{status}, #{cashIndicator}, #{description}, #{tradeNumber}, #{registrationDate}, #{modificationDate}, #{modifierId}, #{version})
    </insert>

    <update id="updateAccountBalance" parameterType="TransferDetail">
        UPDATE Account
        SET balance = #{balance},
            modification_date = #{tradeDate},
            modifier_id = #{registrantId},
            version = version + 1
        WHERE id = #{accId}
    </update>

    <select id="getNextTradeNumberVal">
        SELECT  trade_num_seq.NEXTVAL FROM dual
    </select>

</mapper>